h1 {
	font-size: 24px;
	text-align: center;
}

div.info {
	display: flex;
	justify-content: space-between;
}

div.moves {
	position: relative;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
}

.right {
	margin: 0;
	position: absolute;
	top: 50%;
	width: 33%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 48px;
	text-align: right;
}

.left {
	margin: 0;
	position: absolute;
	top: 50%;
	width: 33%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 48px;
	text-align: left;
}

.center {
	margin: 0;
	width: 100%;
	color: blue;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 48px;
	text-align: center;
}

.user {
	margin: 0;
	width: 100%;
	color: green;
	/*border: 3px solid green;*/
}

.agent {
	margin: 0;
	width: 100%;
	color: red;
	/*border: 3px solid red;*/
}

.gameOver{
	margin: 0; /*todo: % of containing div */;
	font-size: 36px;
	text-align: center;
	color: blue;
}

#submitButton{
	width: 100%;
	height: 25%;
	margin: 0;
	padding: 0;
	color: inherit;
	font-size: inherit;
	border: solid black;
	background-color: #52919c;
}

#djangoForm {
	width: 100%;
	height: 50%;
	padding: 0;
	margin: 0;
}

#id_userMove {
	width: 100%;
}

.home-newgame {
	font-size: 24px;	
	display: flex;
	justify-content: space-around;	
}