html {
	font-size: 20px;
	font-family: 'Oswald', sans-serif; /*comment*/
	background-color: #C7D3E0;
}

.top {
	font-size: 12px;
	text-align: center;
}

.leftright {
	display: flex;
	justify-content: space-between;
}

.grid {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 50px;
}

.right {
	margin: 0;
	position: absolute;
	top: 50%;
	width: 33%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 48px;
	text-align: right;
}

.left {
	margin: 0;
	position: absolute;
	top: 50%;
	width: 33%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 48px;
	text-align: left;
}

.leftPlayer{
	margin: 0;
	grid-column: 1;
	text-align: left;
}
#whoseMove {
	color: blue;
	grid-column: 2;
	margin-top: -20%;
	text-align: center;
}
.rightPlayer{
	margin: 0;
	grid-column: 3;
	text-align: right;
}

#sendLeft{
	font-size: 24px;
	margin-top: -20%;
	margin-bottom: 0;
}
#sendRight{
	font-size: 24px;
	margin-top: -20%;
	margin-bottom: 0;
}

.user {
	margin: 0;
	width: 100%;
	color: green;
	/*border: 3px solid green;*/
}

.agent {
	margin: 0;
	width: 100%;
	color: red;
	/*border: 3px solid red;*/
}

.gameOver{
	margin: 0;
	font-size: 36px;
	text-align: center;
	color: blue;
}

.rotate {
	transform: rotate(90deg);
}

.gameOver {
	margin: 0;
	width: 100%;
	color: blue;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 48px;
	text-align: center;
}

#submit{
	width: 50%;
	height: 200%;
	margin: 0;
	padding: 0;
	margin-top: 20%;
	margin-left: 25%;
	color: inherit;
	font-size: inherit;
	border: solid black;
	background-color: #52919c;
}

#inside {
	width: 3em;
	height: 1.6em;
	top: 50%;
	margin-top: -.8em;
	text-align: center;
	line-height: 1.6em;
}

#end {
	font-size: 24px;
	margin-top: 10%;	
	display: flex;
	justify-content: space-around;	
}

.finalScore {
	color: grey;
}

#moveTable {
	margin-top: 10%;
	position: relative;
}

.table {
	width: 100%;
	text-align: center;
	table-layout: fixed;
}

#headcolumn {
	text-align: left;
}

#action {
	text-align: left;
}

.green {
	color: green;
}

.red {
	color: red;
}

.black {
	color: black;
}