html {
	font-size: 24px;
	font-family: 'Oswald', sans-serif; /*comment*/
	background-color: #C7D3E0;
}

.topbar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.welcome {
	margin: 0;
	text-align: left;
	grid-column: 1;	
	grid-row: 1;
}
.title {
	margin: 0;
	font-size: 36px;
	text-align: center;
	grid-column: 2;	
	grid-row: 1;	
}
.logout {
	color: blue;
	margin: 0;
	text-align: right;
	grid-column: 3;
	grid-row: 1;
}


.main {
	display: grid;
	grid-template-columns: 1fr 20fr;
	column-gap: 10px;
}
.mainright {
	margin: 0;
	font-size: 24px;
	grid-column: 2;
	grid-row: 1;
	text-align: left;
}
.mainleft {
	margin: 0;
	font-size: 24px;
	grid-column: 1;
	grid-row: 1;
	text-align: right;
}
img {
	display: block;
	margin-top: 0;
	margin-bottom: 23px;
	width: 100%;
	height: auto;
}
.flipped {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
p {
	margin-top: 0;
}
.games {
	display: flex;
	justify-content: space-between;
}