html {
	font-size: 10px;
	font-family: 'Oswald', sans-serif; /*comment*/
	background-color: #C7D3E0;
}

body {
	width: : 600px;
	margin: 0 auto;
	padding: 0 20px 20px 20px;
}

h1 {
	margin: 0;
	padding: 20px 0;
	color: #00539F;
	font-size: 32px;
	text-align: center;
	text-shadow: 1px 1px 1px black;
}

h2 {
	color: white;
	margin: 0;
	padding: 20px 0;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}
p, li, input, label {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

input.text {
	line-height: 2;
	border: 2px solid black;
	margin: 0 0 1em 0;
	padding: 10px;
	margin-left: 20px;
}

input.login, input.create {
	font-family: 'Oswald', sans-serif; /*comment*/
	border: 3px solid black;
	background-color: #999;
	border-radius: 5px;
	padding: 10px 2em;
	font-weight: bold;
	color: #3867ff;
}

input.login:hover, input.create:hover {
  background-color: #333;
}

div.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	padding: 10px 40px 40px 40px;
	transform: translate(-50%, -50%);
	background-color: #8d9799;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
	border-radius: 10px;	
}

div.flex {
	display: flex;
	justify-content: space-between;
}

