body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
	background: #d1d1d1;
}

h1 {
	margin: 0;
	font-size: 36px;
	color: #00539F;
	text-align: center;
}
h2 {
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 20px;
	text-align: left;
}

.fieldWrapper {
	width: 100%;
	display: flex;
}

.f1 {
	width: 20%;
}

.f2 {
	width: 80%;
	padding-left: 2%;
}


.c1 {
	width: 15%;
}
.c2 {
	width: 50%;
	padding-left: 2%;
}
.c3 {
	width: 35%;
	padding-left: 2%;
}

input, select {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
}

#submitWrapper {
	margin-top: 2%;
	width: 100%;
}

#submitButton {
	width: 20%;
	margin-left: 40%;
	text-align: center;
	font-size: 18px;
	border: 3px solid black;
	background: #ffd500;
	border-radius: 50px;

}