<!DOCTYPE html>
<html lang="en">

<head>
	<title>Signed Consent</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'consent.css' %}">
	<meta charset="utf-8">
</head>


<body>
	<h1>Signed Consent Form</h1>
	<p>By providing your consent, you are not waiving your legal rights or releasing the investigator(s) or involved institution(s) from their legal and professional responsibilities. I have read the information presented in the information letter about a study conducted by Peter Duggins, under the supervision of Dr. Chris Eliasmith, University of Waterloo. I have had the opportunity to ask questions related to the study and have received satisfactory answers to my questions and any additional details.I was informed that participation in the study is voluntary and that I can withdraw this consent by informing the researcher.</p>
	<p>I am aware my responses to survey questions and my moves in the investment game <strong>will be recorded</strong> and associated with my MTurk ID.  I give permission for the use of these anonymous data in any thesis or publication that comes from this research. I agree of my own free will to participate in the study, and consent by providing my MTurk ID as a signature below.</p>
	<p class="center"> Signed</p>
	<p class="red"> {{user.get_username}}</p>
	<p class="red"> {{user.doneConsent}}</p>
	<p class="center"><a href="{% url 'home' %}">Home</a></p>
</body>	