<!DOCTYPE html>
<html lang="en">

<head>
	<title>Game</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'game.css' %}">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script
		src="https://code.jquery.com/jquery-3.5.1.min.js">
	</script>
	<script
		src="https://code.jquery.com/ui/1.12.1/jquery-ui.js">
	</script>
</head>

<body>
	<p class="top">Game ID: {{game.uuid}}</p>

	{% if game.userRole == "A" %}
		<div class="grid">
			<h2 id="playerA" class="leftPlayer">You</h2>
			<h2 id="playerB" class="rightPlayer">Opponent</h2>
			<!-- {{game.agent.agentType}} -->
		</div>
		<div class="finalScore leftright">
			<h3>Final Score:</h3>
			<h3>Final Score:</h3>
		</div>
		<div class='grid'>
			<div class="user">
				<p class="left" id="userReward"></p>
			</div>
			<form id="form">
				{% csrf_token %}
				<p id="whoseMove">Your Move</p>
				<div id="inside" class="ui-slider-handle"></div>
				<input type="submit" id="submit" updateURL="{% url 'updateGame' %}" value="send">
			</form>
			<div class='agent'>
				<p class="right" id="agentReward"></p>
			</div>
		</div>
		<div id="moveTable"><table id="table"></table></div>

	{% else %}
		<div class="grid">
			<h2 id="playerA" class="leftPlayer">{{game.agent.agentType}}</h2>
			<h2 id="playerB" class="rightPlayer">{{user.username}}</h2>
		</div>
		<div class="finalScore leftright">
			<h3>Final Score:</h3>
			<h3>Final Score:</h3>
		</div>
		<div class='grid'>
			<div class='agent'>
				<p class="left" id="agentReward"></p>
			</div>
			<form id="form">
				{% csrf_token %}
				<p id="whoseMove">Your Move</p>
				<div id="inside" class="ui-slider-handle"></div>
				<input type="submit" id="submit" updateURL="{% url 'updateGame' %}" value="send">
			</form>
			<div class="user">
				<p class="right" id="userReward"></p>
			</div>
		</div>
		<div id="moveTable"><table id="table"></table></div>
	{% endif %}

	<div hidden id='end'>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'game' %}">Play Again</a>
    </div>

	<script type="text/javascript">
		//pass django variables to external javascript
		let userRole = "{{game.userRole}}";
		let capital = "{{game.capital}}";
		let matchFactor = "{{game.matchFactor}}";
		let initialAgentMove = "{{game.agentMove}}";
	</script>
	<script src="{% static 'game.js' %}"></script>
</body>
</html>
