<!DOCTYPE html>
<html lang="en">

<head>
	<title>Game</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'game.css' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<h1>Game ID: {{game.id}}</h1>
	<div class="info">
		<h2>Player A</h2>
		<h2>Player B</h2>
	</div>
	{% if game.userRole == "A" %}
		<div class="info">
			<p>{{user}}</p>
			<p>{{game.agent}}</p>
		</div>
		<div class='center'>
			<!-- <p class='user'>{{game.userMove}}</p> -->
			<p class='user'>__</p>
			<form method="POST">
				{% csrf_token %} 
				{{form.as_p}}
				<input type="submit" value ="Send"/> 
			</form>
			<p class='agent'>
				{% if game.agentMove is not None %}
					{{game.agentMove}}
				{% else %}
					__
				{% endif %}
			</p>
		</div>
		<div class="info">
			<p>moves: {{game.userMoves}}</p>
			<p>moves: {{game.agentMoves}}</p>
		</div>
	{% else %}
		<div class="info">
			<p>{{game.agent}}</p>
			<p>{{user}}</p>
		</div>
		<div class='center'>
			<p class='agent'>
				{% if game.agentMove is not None %}
					{{game.agentMove}}
				{% else %}
					__
				{% endif %}
			</p>
			<form method="POST">
				{% csrf_token %} 
				{{form.as_p}}
				<input type="submit" value ="Send"/> 
			</form>
			<!-- <p class='user'>{{game.userMove}}</p> -->
			<p class='user'>__</p>
		</div>
		<div class="info">
			<p>moves: {{game.agentMoves}}</p>
			<p>moves: {{game.userMoves}}</p>
		</div>
	{% endif %}
</body>
</html>
