<!DOCTYPE html>
<html lang="en">

<head>
	<title>Home</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'home.css' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<h1>
		Welcome,
		{% if user.displayName is not None %}
			{{user.displayName}}
		{% else %}
			{{user.userName}}
		{% endif %}
	</h1>
	<div class="wrapper">
	<!-- <h1>Games Played: {{myGames}}</h1> -->
		<div class="leftbar">
			<p><a href="{% url 'logout' %}">Logout</a> </p>
			<p><a href="{% url 'information' %}">Review Study Information</a> </p>
			<p><a href="{% url 'consent_signed' %}">Review Consent Form</a> </p>
			<p><a href="{% url 'survey' %}">Survey</a> </p>
		</div>
		<div class="main">
			{% if user.currentGame %}
				<p><a href="{% url 'continue' %}">Continue Game</a> </p>
			{% else %}
				<p><a href="{% url 'game' %}">Start Game</a> </p>
			{% endif %}
			
		</div>
		<div class="rightbar">
			<p> games: {{myGames}}</p>
			<p> more stats</p>			
		</div>
	</div>
</body>