<!DOCTYPE html>
<html lang="en">

<head>
	<title>Tutorial</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Jaldi:wght@700&family=Roboto:wght@300&display=swap" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" href="{% static 'logout.css' %}">
	<meta charset="utf-8">
</head>

<body>
	<div id="top-bar"></div>
		<h1>TUTORIAL</h1>
	<div id="main">
		<p>it's a tutorial...</p>
	</div>
	<div id="bottom-bar">
		<p><a href="{% url 'home' %}">Finish</a></p>
	</div>
</body>